@(
        xxxRate: BigDecimal,
        yyyRate: BigDecimal,
        zzzRate: BigDecimal,

)

    @main("Exchange Rates") {
        @defining(play.core.PlayVersion.current) { version =>
            <table class="table">
                <thead>
                    <tr>
                        <th>Currency</th>
                        <th>Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>XXX/BYN</td>
                        <td>@{
                            xxxRate
                        }</td>
                    </tr>
                    <tr>
                        <td>YYY/USD</td>
                        <td>@{
                            yyyRate
                        }</td>
                    </tr>
                    <tr>
                        <td>ZZZ/EUR</td>
                        <td>@{
                            zzzRate
                        }</td>
                    </tr>
                </tbody>
            </table>
        }
    }